@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;
}

/* Regra para mostrar HTML5 em browsers antigos*/
address, article, aside, canvas, content, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}

body {
	background-color: #353535;
	background-image: url(../images/bkg_empresa.png);
}

h1, h2, h3 {
	font-family: Georgia, Times, serif;
}

content {
	width: 940px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	position: relative;
	background-color: #f2f3ed;
	border-radius: 25px;
	-moz-border-radius: 25px;
}

.logo {
	height: 145px;
	width: 940px;
	padding-top: 5px;
	text-align: center;
	background-color: #f2f3ed;
	border-radius: 25px;
	-moz-border-radius: 25px;

}

.nome-sistema {
	font-family: Georgia, Times, serif;
	height: 70px;
	background-color: #00548E;
}

.nome-sistema h1{
	padding-top: 15px;
	text-align: center;
	color: #f2f3ed;
	text-shadow: 0px 0px 5px #000;
	-moz-text-shadow: 0px 0px 5px #000;
	-o-text-shadow: 0px 0px 5px #000;
	-webkit-text-shadow: 0px 0px 5px #000;

}

article {
	width: 940px;
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #f2f3ed;

	box-shadow: inset 0px 0px 120px #000;
	-webkit-box-shadow: inset 0px 0px 200px #000;
}

.login {
	margin-left: 320px;
	width: 300px;
	
	background-color: #00548E;

	box-shadow: 5px 5px 20px #000;
	-webkit-box-shadow: 5px 5px 20px #000;
	
	border-radius: 25px;
	-moz-border-radius: 25px;
}

.login .sub {
	
	width: 300px;
	height: 50px;
	text-align: center;
	padding-top: 10px;

	border-bottom-color: #CCC;
	border-bottom-width: 1px;
	border-bottom-style: solid;

	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	-moz-border-top-right-radius: 25px;
	-moz-border-top-left-radius: 25px;
}

.sub h3 {
	font-family: Georgia, Times, serif;
	font-size: 35px;
	color: #f2f3ed;
	text-shadow: 0px 0px 5px #000;
	-moz-text-shadow: 0px 0px 5px #000;
	-o-text-shadow: 0px 0px 5px #000;
	-webkit-text-shadow: 0px 0px 5px #000;
}

.block {
	width: 300px;
	height: 220px;
	background-color: #f2f3ed;
}

#usuario, #password {
	font-family: Georgia, Times, serif;
	background-color: #00548E;
	width: 235px;
	height: 40px;

	margin-left: 30px;
	box-shadow: 0px 0px 5px #000;
	-webkit-box-shadow: 0px 0px 5px #000;

	border: 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	
}

#usuario {
	margin-top: 40px;
	padding-left: 5px;
	color: #f2f3ed;
	font-size: 18px;
}

#password {
	margin-top: 10px;
	padding-left: 5px;
	color: #f2f3ed;
	font-size: 18px;
}

button {
	font-family: Georgia, Times, serif;
	font-size: 18px;
	font-weight: bold;
	margin-top: 17px;
	width: 110px;
	height: 40px;
	color: #00548E;
	outline: none;

	border: 2px outset #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

#submit {
	margin-left: 38px;
	background-color: #939598;
}

#submit:hover {
	color: #f2f3ed;
	background-color: #00548E;
	box-shadow: 0px 0px 10px #000000;
	-webkit-box-shadow: 0px 0px 10px #000000;
}

#submit:active {
	border: 2px inset #ccc;
	color: #f2f3ed;
	background-color: #00548E;
	box-shadow: 0px 0px 5px #000000;
	-webkit-box-shadow: 0px 0px 5px #000000;
}

#register {
	margin-left: 2px;
	background-color: #939598;
}

#register:hover {
	color: #f2f3ed;
	background-color: #00548E;
	box-shadow: 0px 0px 10px #000000;
	-webkit-box-shadow: 0px 0px 10px #000000;
}

#register:active {
	border: 2px inset #ccc;
	color: #f2f3ed;
	background-color: #00548E;
	box-shadow: 0px 0px 5px #000000;
	-webkit-box-shadow: 0px 0px 5px #000000;
}

#option {
	padding-top: 5px;
	font-family: Georgia, Times, serif;
	text-align: center;
	width: 300px;
	height: 30px;
	border-top-color: #CCC;
	border-top-width: 1px;
	border-top-style: solid;

	background-color: #00548E;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	-moz-border-bottom-right-radius: 25px;
	-moz-border-bottom-left-radius: 25px;
}

#option a {
	color: #f2f3ed;
	font-size: 18px;
	text-shadow: 0px 0px 5px #000;
	-moz-text-shadow: 0px 0px 5px #000;
	-o-text-shadow: 0px 0px 5px #000;
	-webkit-text-shadow: 0px 0px 5px #000;
}

footer {	
	clear: both;
	background-color: #00548E;

	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	-moz-border-bottom-right-radius: 25px;
	-moz-border-bottom-left-radius: 25px;
}

footer section.copy {
	float: left;
	width: 200px;
	
	padding-top: 10px;
	padding-bottom: 10px;
}

footer section.copy p {
	color: #f2f3ed;
}

footer section {
	float: left;
	width: 246px;
	padding-top: 10px;
	padding-bottom: 20px;
	color: #96C;
}

footer section h3 {
	font-family: Georgia, Times, serif;
	color: #f2f3ed;
	font-size: 16px;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #f2f3ed;
	padding-bottom: 0px;
	text-transform: capitalize;
	font-weight: normal;

}

footer section p {
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 5px;
	color: black;
	font-size: 13px;
	line-height: 18px;
	
}

.clearing {
	clear: both;
}